@{
    ViewBag.Title = "AplicacionPolicial";
}

<h2>Aplicación Policial</h2>
@*@{
        ViewBag.Title = "Index";
    }*@

@section scripts
    {

 
<script src="~/Scripts/registroPolicial/index/services/common.services.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('GestorPolicialApp')
                .factory('GestorPolicialResourse', GestorPolicialResourse);

            GestorPolicialResourse.$inject = ['$resource', '$http'];

            function GestorPolicialResourse($resource, $http) {
                var Ciudadanos = $resource("@Href("~/api/Ciudadanos")");
                var Policias = $resource("@Href("~/api/Policias")");
                var Comisarias = $resource("@Href("~/api/Comisarias")");
                var ProcesosPoliciales = $resource("@Href("~/api/ProcesosPoliciales")");
                var AccionesPoliciales = $resource("@Href("~/api/AccionesPoliciales")");
                var AccionesPolicialesSegunProcesoPolicialID = $resource("@Href("~/api/AccionesPoliciales/SegunProcesoPolicialID")");
                var RegistrosPoliciales = $resource("@Href("~/api/RegistrosPoliciales")");
                return {
                    "Ciudadanos": Ciudadanos,
                    "Policias": Policias,
                    "Comisarias": Comisarias,
                    "ProcesosPoliciales": ProcesosPoliciales,
                    "AccionesPoliciales": AccionesPoliciales,
                    "AccionesPolicialesSegunProcesoPolicialID": AccionesPolicialesSegunProcesoPolicialID,
                    "RegistrosPoliciales": RegistrosPoliciales
                }
            }
        })();
    </script>

    @*Controladores*@
<script src="~/Scripts/registroPolicial/index/controllers/GestorPolicialCtrl.js"></script>
<script src="~/Scripts/registroPolicial/index/controllers/listadoRegistroPCtrl.js"></script>
<script src="~/Scripts/registroPolicial/index/controllers/modal/modalCrearCiudadanoCtrl.js"></script>
  <script src="~/Scripts/registroPolicial/index/controllers/busquedaCtrl.js"></script>
}
<div class="container" ng-app="GestorPolicialApp">

<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">Registro</div>
                <div class="panel-body">
                    @Html.Partial("Index/_FormRegistroPolicial")
                </div>
            </div>
        </div>
        <div class="col-md-7">
            @Html.Partial("Index/_ListadoRegistroP")
        </div>
    </div>
</div>

@*////////////////////////////////////////////////////////////
    Parte donde se coloca las plantillas de las ventanas modales*@

<script type="text/ng-template" id="ModalCrearCiudadano.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted">Se creara un nuevo Ciudadano</p>
    </div>
    <div class="modal-body">
        @Html.Partial("Index/Modal/_FormModalCrearCiudadano")
        {{respuesta.mensajeDelProceso}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        <button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>
    </div>
</script>
</div>

