@{
    ViewBag.Title = "Aplicación Judicial";
}

<h2>RJ</h2>

    @{
        ViewBag.Title = "Index";
    }

@section scripts
    {

    
<script src="~/Scripts/registroJudicial/index/services/common.services.js"></script>
    <script type="text/javascript">
        (function () {
            'use strict';
            angular
                .module('GestorJudicialApp')
                .factory('GestorJudicialResourse', GestorJudicialResourse);

            GestorJudicialResourse.$inject = ['$resource', '$http'];

            function GestorJudicialResourse($resource, $http) {
                var Ciudadanos = $resource("@Href("~/api/Ciudadanos")");
                var FiltroPorRegistroJudicialDto = $resource("~/api/RegistrosJudiciales/FiltroPorRegistroJudicialDto")
                var FuncionariosJudiciales = $resource("@Href("~/api/FuncionariosJudiciales")");
                var Juzgados = $resource("@Href("~/api/Juzgados")");
                var ProcesosJudiciales = $resource("@Href("~/api/ProcesosJudiciales")");
                var AccionJudicial = $resource("@Href("~/api/AccionJudicial")");
                var AccionesJudicialesSegunProcesoJudID = $resource("@Href("~/api/AccionesJudiciales/SegunProcesoJudID")");
                var RegistrosJudiciales = $resource("@Href("~/api/RegistrosJudiciales")");
                return {
                    "Ciudadanos": Ciudadanos,
                    "FuncionariosJudiciales": FuncionariosJudiciales,
                    "Juzgados": Juzgados,
                    "ProcesosJudiciales": ProcesosJudiciales,
                    "AccionJudicial": AccionJudicial,
                    "AccionesJudicialesSegunProcesoJudID": AccionesJudicialesSegunProcesoJudID,
                    "RegistrosJudiciales": RegistrosJudiciales,
                    "FiltroPorRegistroJudicialDto": FiltroPorRegistroJudicialDto
                }
            }
        })();
    </script>

    @*Controladores*@

    <script src="~/Scripts/registroJudicial/index/controllers/GestorJudicialCtrl.js"></script>
    <script src="~/Scripts/registroJudicial/index/controllers/listadoRegistroJCtrl.js"></script>
    <script src="~/Scripts/registroMedico/index/controllers/modal/modalCrearCiudadanoCtrl.js"></script>
<script src="~/Scripts/registroJudicial/index/controllers/busquedaCtrl.js"></script>
}
<div class="container" ng-app="GestorJudicialApp">

<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">Registro</div>
                <div class="panel-body">
                    @Html.Partial("Index/_FormRegistroJudicial")
                </div>
            </div>
        </div>
        <div class="col-md-7">
            @Html.Partial("Index/_ListadoRegistroJ")
        </div>
    </div>
</div>

@*////////////////////////////////////////////////////////////
    Parte donde se coloca las plantillas de las ventanas modales*@

<script type="text/ng-template" id="ModalCrearCiudadano.html">
    <div class="modal-header">
        <h3 class="modal-title">{{objeto.mensaje}} {{objeto.id}}</h3>
        <p class="text-muted">Se creara un nuevo Ciudadano</p>
    </div>
    <div class="modal-body">
        @Html.Partial("Index/Modal/_FormModalCrearCiudadano")
        {{respuesta.mensajeDelProceso}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-link" ng-click="cancel()" id="btn_cancelar">Salir</button>
        <button class="btn btn-primary" ng-click="ok()" id="btn_save">Eliminar</button>
    </div>
</script>
</div>
